.blue-center {
  color: blue;
  text-align: center;
}

.semester-list {
  list-style-type: none;
  
}

.semester-name {
  font-size: 30px;
  margin-bottom: 20px;
  border-color: rgb(237, 135, 2);
  border-width: 3px;
  border-style: solid;
  display: inline-block;
  padding: 5px;
}

.list-per-semester {
  margin-bottom: 20px;
}

.maltipoo {
  height: 200px;
  width: auto;
}